{% extends '_layout.html' %}
{% block title %}Contacto{% endblock %}

{% block content %}
<div class="container">
  <div class="row" id="contact">
    <div class="col-sm-6 span6">
      <h2>
        Mandanos un mensaje
      </h2>
      <form role="form">
        <div class="form-group">
          <label for="pwd">Mensaje</label>
          <textarea rows="5" class="form-control" placeholder="preguntanos lo que quieras, no seas timido..."></textarea>
        </div>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="phone">Teléfono</label>
          <input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>

    <div class="col-sm-6 span6">
      <h2>
        o si lo prefieres, siguenos
      </h2>
      <p>
      <div class="social column-1"><i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="social column-2"><i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
      <div class="social column-3"><i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="social column-4"><i class="fa fa-youtube" aria-hidden="true"></i>
      </div>
      </p>
    </div>
  </div>
  <div class="jumbotron"><div id="map"></div></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhXutSdckuc_b_0wDIu2_rh1V_T3-Cehc&callback=initMap"></script>
{% endblock %}
