{% extends '_layout.html' %}
{% block title %}Home{% endblock %}

{% block video %}
<div align="center" class="video-demo embed-responsive embed-responsive-16by9">
  <iframe width="100%" src="https://www.youtube.com/embed/IyTv_SR2uUo" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}
{% block content %}
<div class="somos">
  <div class="container">
    <p>
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-envira"></i>
        Elit vitae nesciunt autem quis nesciunt sapiente. Autem libero explicabo alias harum fuga! Explicabo et ut maiores itaque quaerat maxime! Iste quisquam velit rerum repudiandae voluptates hic magni praesentium. Nulla.
      </div>
      <div class="col-md-4">
        <i class="fa fa-viadeo"></i>
        Sit asperiores dolorem blanditiis laborum ad ducimus tenetur. Libero ut reprehenderit repellat harum maxime numquam, officia modi placeat. Quaerat iusto at consequatur reiciendis quod eum. Nostrum molestiae tempora ad quaerat.
      </div>
      <div class="col-md-4">
        <i class="fa fa-wpbeginner"></i>
        Dolor voluptas tempora culpa corrupti minus perferendis doloribus quasi fugiat! Exercitationem magnam repellendus est veniam itaque. Incidunt atque ut provident ipsam accusamus excepturi neque deleniti praesentium animi? Asperiores eaque quibusdam.
      </div>
    </div>
    </p>
    <p>
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-american-sign-language-interpreting"></i>
        Sit quibusdam ea aperiam perferendis expedita accusamus? Aspernatur delectus inventore dolore totam veritatis distinctio. Ducimus dolore minima totam ipsum consequuntur. Consequuntur saepe commodi quidem itaque doloribus minus amet repudiandae consequatur.
      </div>
      <div class="col-md-4">
        <i class="fa fa-sign-language"></i>
        Consectetur a recusandae quo rerum eum sint. Unde impedit placeat sed sunt ut dignissimos nobis nihil libero? Tempora voluptatum aperiam rerum adipisci quisquam? Adipisci repudiandae error suscipit amet doloribus cum!
      </div>
      <div class="col-md-4">
        <i class="fa fa-bomb"></i>
        Dolor cum consectetur itaque sed ipsam quibusdam assumenda minima? Exercitationem suscipit voluptates rem quod maxime corporis vero ratione suscipit rerum consequuntur iusto accusamus atque? Maiores veniam minus vel odio quas?
      </div>
    </div>
    </p>
  </div>
</div>
{% endblock %}
