<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="assets/img/logo.png" alt=""></a>
      </div>

      <ul class="nav navbar-nav">
        <li {% if path == 'event'  %}class="active"{% endif %}><a href="/eventos">Eventos</a></li>
        <li {% if path == 'contact'  %}class="active"{% endif %}><a href="/contacto">Encuentranos</a></li>
      </ul>

      <a href="actividades" class="navbar-text navbar-right btn btn-primary">actividades</a>
    </div>
  </nav>
</header>
